@model TentsNTrails.Models.Notification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRead)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NotificationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
