<!DOCTYPE html>
<html class="home">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - tents n trails</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- NAVBAR -->
    @Html.Partial("_Navbar")

    <!-- CONTENT -->
    <div class="container body-content home" style="padding:15px">
        @RenderBody()
    </div>
    @Html.Partial("_FooterFixedBottom")

    <!--SCRIPTS-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
