@model TentsNTrails.Models.JoinLocationsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Join";
    int padding = 10;
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-9">
                <h2>Join Locations</h2>
                <p style="color: red;">@ViewBag.ErrorMessage</p>
                <p>
                    The reviews and media items from <text class="no-wrap bold">Location A</text> 
                    will be added into <text class="no-wrap bold">Location B</text>, 
                    and <text class="no-wrap bold">Location A</text> will be removed.
                </p>
            </div>
            <div class="col-xs-3">
                <br />

                <!--INPUT MERGE BUTTON-->
                <input class="btn btn-default" type="submit" value="Accept Merge" style="float:right" />

            </div>

        </div>
    </div>

    <div class="row" style="padding:0px @(padding)px">

        <div class="col-xs-12 col-sm-6" style="padding:@(padding)px">
            <div id="review">
                <h3>Location A</h3>
                <h6>The location to be removed.</h6>

                <!--INPUT SEARCH A-->
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    @Html.TextBox("SearchStringA", null, new { @class="form-control", placeholder = "Search by Name"})
                                        @*
        <input type="text" class="form-control" name="SearchStringA" id="SearchStringA">
                                        *@
                </div>

                <table class="table">
                    @*
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    *@
                    @foreach (var item in Model.LocationA)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="LocationA" value="@item.LocationID">
                            </td>
                            <td>
                                @{ Html.RenderAction("JoinSummary", "Location", new { id = item.LocationID }); }
                            </td>
                        </tr>
                    }

                </table>
                Page @(Model.LocationA.PageCount < Model.LocationA.PageNumber ? 0 : Model.LocationA.PageNumber) of @Model.LocationA.PageCount

                @Html.PagedListPager(Model.LocationA, pageA => Url.Action("Join", new { pageA, pageB = Model.LocationB.PageNumber }))
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="padding:@(padding)px">
            <div id="review">

                <h3>Location B</h3>
                <h6>The location to be kept.</h6>

                <!--INPUT SEARCH B-->
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    @Html.TextBox("SearchStringB", null, new { @class="form-control", placeholder = "Search by Name"})
                    @*
    <input type="text" class="form-control" name="SearchStringB" id="SearchStringB">
                    *@
                </div>

                <table class="table">
                    @*
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    *@

                    @foreach (var item in Model.LocationB)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="LocationB" value="@item.LocationID">
                            </td>
                            <td>
                                @{ Html.RenderAction("JoinSummary", "Location", new { id = item.LocationID }); }
                            </td>
                        </tr>
                    }

                </table>
                Page @(Model.LocationB.PageCount < Model.LocationB.PageNumber ? 0 : Model.LocationB.PageNumber) of @Model.LocationB.PageCount

                @Html.PagedListPager(Model.LocationB, pageB => Url.Action("Join", new { pageA = Model.LocationA.PageNumber, pageB }))
            </div>
        </div>
    </div>
}